<div class="ph3 pt4-ns o-100 fl w-100 center absolute-ns z-999">
  <h2 class="center mw6 f2 b lh-title tc black bg-highlight">{{.intro.heading}}</h2>
</div>

<div class="bg-off-white pv4 center">


    <div class="w-80-l bg-grey-1 center pb5 pb4-l mt3-ns">
    <div class="flex-l mw7 center mhn2-s mb3">
      {{ range .services }}
      <div class="ph4-ns mt4-l relative-l">
        <img src="{{.image}}" alt="" class="db mb3 mt4 pt2-l center" style="width: 300px">
        <h3 class="f4 b lh-title mb2 l black bg-highlight mw7">{{ .heading }}</h3>
        <p class="pb2-l mb6-l">{{.text}}</p>
        <div class="mb2-ns bottom-0-l absolute-l center mw4 raise">
          <a href="{{ .link }}" class="btn">{{ .button }}</a>
        </div>
      </div>
      {{ end }}
    </div>

    
  </div>
</div>
