<footer class="bg-black ph3 pv4 white">

	<div class="mw7 center pt3">

		<!-- <div class="measure-narrow center mb4">
			
			<img src="https://cdn.asapmovers808.com/yelp-icon-90x90.png" alt="ASAP Movers logo" class="db w4 center mb4 br0" style="width: 50px">

		</div> --> 

		<div class="flex-ns justify-between">

			<div>
				<h3 class="f4 b lh-title mb1 primary">ASAP Movers 808</h3>
				<ul class="mb3">
					<li><a href="/" class="link">Home</a></li>
					<li><a href="/services" class="link">Services</a></li>
					<li><a href="/about" class="link">About</a></li>
					<li><a href="/contact" class="link">Contact</a></li>
				</ul>
			</div>


			<div>
				<h3 class="f4 b lh-title mb1 primary">Need more info?</h3>
				<ul class="mb3">
					<li><a href="/contact" class="link">Drop us a line!</a></li>
					<li><a class="no-underline" href="tel:(808) 271-5795">(808) 271-5795</a></li>
					<li><a class="no-underline" href="mailto: asapmovers808@gmail.com">ASAPMovers808@gmail.com</a></li>
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb2 primary">Yelp</h3>
			<a rel="external" href="https://www.yelp.com/biz/asap-moving-waipahu">	
				<img src="https://cdn.asapmovers808.com/yelp-icon-90x90.png" alt="Yelp logo" class="db w4 mb4 br0 link" style="width: 50px">
			</a>
				
			</div>

		</div>
	</div>

</footer>

<!-- {{ partial "svg" . }} -->

<script src="/app.js"></script>
