<main class="center ma2 cf w-100">

  <div class="center ph5 mb4">
    <h2 class="f1 b black">{{.intro.heading}}</h2>
    <p class="f2">{{.intro.heading}}</p>
      <div class="pt1 mw6 bg-black">
  
      </div>
  </div>

  <div class="pt3 ph5 mb3 w-100 w-50-l fl">
    <picture>
      <source srcset="{{.service1.images}} 500w" type="image/jpeg">
      <source srcset="{{.service1.webpS}} 500w" type="image/webp">
      <img src="{{.service1.images}}" alt="" class="br-100 w5 h5">
    </picture>

    <h3>
      {{.service1.heading}}
    </h3>

    <p>
      {{.service1.text}}
    </p>
    <div class="mw5 mw7-ns tc tl-ns">
      <a class="w4 f5 dib link grow tc v-mid bg-blue white ba b--blue ph3 pt2 br1 ml3 mt3 mt0-ns" href="{{.service1.link}}">{{.service1.button}}</a>
    </div>
  </div>

  <div class="pt3 ph5 mb3 w-100 w-50-l fl">
    <picture>
      <source srcset="{{.service2.images}}" type="image/jpeg">
      <source srcset="{{.service2.webpS}} 500w" type="image/webp">
      <img src="{{.images}}" alt="" class="br-100 w5 h5">
    </picture>

    <h3>
      {{.service2.heading}}
    </h3>

    <p>
      {{.service2.text}}
    </p>
    <div class="mw5 mw7-ns tc tl-ns">
      <a class="w4 f5 dib link grow tc v-mid bg-blue white ba b--blue ph3 pt2 br1 ml3 mt3 mt0-ns" href="{{.service2.link}}">{{.service2.button}}</a>
    </div>



  </div>

</main>

<div class="w-100 bg-blue h2 mb3"></div>