<header class="vh-100 vh-75-ns relative cover bg-center" role="banner" style="background-image: url('{{.imageL}}');">
 
  <section class="top-1 absolute center pa3 ma6-ns black br2 bg-white-60 ml2">
    <div class="">
      <h1 class="f2 f1-l fw9 lh-title">
        {{ .titlelarge | safeHTML }}
      </h1>
    </div>

    <div class="f3 f2-l fw5 lh-title pb3">
      {{ if .subtitle }}
      <p>
        {{ .subtitle | safeHTML }}
      </p>
      {{ end }}
    </div>

    <div class="mw5 mw7-ns">
      <a class="w5 f4 dib link grow tc bg-blue white ba b--blue pa3 b br1 mr4-l mt3 mt0-l" href="tel:(520) 276-9422">(520) 276-9422</a>
      <a class="w5 f4 dib link grow tc bg-blue white ba b--blue pa3 b br1 mt3 mt0-l" href="/contact">Get a Free Quote</a>
    </div>

  </section>
</header>