<header class="vh-75 w-100 relative cover bg-center" role="banner" style="background-image: url('{{.imageL}}');">
 
  <section class="top-2 absolute center pl4">
    <div>
      <h2 class="f3 f1-l fw4 white-90 m0 lh-title pt2 pb3 pv0-ns">
        {{.title}}
      </h2>
    </div>

    <div class="f3 f1-l fw4 white-90 m0 lh-title pt2 pb3 pv0-ns">
      {{ if .subtitle }}
      <p>
        {{.subtitle}}
      </p>
      {{ end }}
    </div>

    <div class="mw5 mw7-ns">
      <a class="w4 f5 dib link grow tc v-mid bg-blue white ba b--blue ph3 pt2 br1 ml3 mt3 mt0-ns" href="">Get A Quote</a>
      <a class="f5 dib link grow tc v-mid bg-blue white ba b--blue ph3 pt2 br1 ml3 mt3 mt0-ns" href="">(555) 555-5555</a>
    </div>

  </section>
</header>