<div class="cf center flex-l items-center">

  <div class="w-100 w-50-l fl">
    <div class="center mb3 pl3 pr3 ml5-l word-wrap">
      <h2 class="f2 b black lh-title">{{.heading}}</h3>
      <p class="f4 fw5 lh-title pb3 mw7">{{.text}}</p>
    </div>
  </div> 
  <picture class="w-100 w-50-l fl">
    <source srcset="{{ .webpS }} 500w, {{ .webpM }} 1000w" type="image/webp">
    <source srcset="{{ .imageS }} 500w, {{ .imageM }} 1000w" type="image/jpeg"> 
    <img src="{{ .imageM }}" alt="{{ .alt }}" class="db mb2 center mw6 mw6-t mw7-l fr-l">
  </picture>

  

</div>
