<style>
	.menu {
	  /* no way to control min height in Tachyons */
	  max-height: 0; /* hide menu completely when burger unchecked */
	  transition: max-height 0.5s; /* show/hide menu transition */
	}
	/* when checkbox is checked, display menu (sibling element) */
	#burger:checked ~ .menu {
	  max-height: 100%;
	}
  </style>



<nav class="bg-white black w-100 cf">

	<div class="center flex-ns flex-wrap items-center justify-start pt2 relative dn dib-ns">
		<a href="/">
			<img src="https://vibecdn.azureedge.net/cths/logo.svg" alt="Logo" class="ml5 mr2 mr5-l mb2 db link w4 w3-m">
		</a>
		<div class="absolute right-2 mb4">
		<ul class="list dib">
			<li class="f4 dib mr5 mr1-m" role="menuitem"><a class="dim link black" href="/services" class="link">Services</a></li>
			<li class="f4 dib mr5 mr1-m" role="menuitem"><a class="dim link black" href="/about" class="link">About</a></li>
			<li class="f4 dib mr5 mr1-m" role="menuitem"><a class="dim link black" href="/contact" class="link">Contact</a></li>
			<li class="f4 dib mr5 mr1-m"><a class="w4 f5 dib link grow tc v-mid bg-blue white ba b--blue ph3 pt2 br1 ml3 mr2-m mt3 mt0-ns" href="/">(555) 555-5555</a></li>
		</ul>
		</div>
	</div>

		<input type="checkbox" id="burger" class="dn">
  		<label for="burger" class="dn-ns fr pr3 pt3 f2">
                <span class='db w2 mt1 mb2 bw2 pb2 bt bb b--dark-gray'></span>
                <span class='db w2 mt1 bw2 pb1 bt b--dark-gray'></span>
		</label>

		<a href="/" class="dn-ns">
			<img src="https://vibecdn.azureedge.net/cths/logo.svg" alt="Logo" class="db w3 pb2 pa2">
		</a>
		
		<ul class="menu overflow-hidden dn-ns w-100 list pa0 ma0 f2">
			<li class="pl6 tl">
			  <a href="/services" class="black link">Services</a>
			</li>
			<li class="pl6 tl ">
			  <a href="/about" class="black link">About</a>
			</li>
			<li class="pl6 tl ">
			  <a href="/contact" id="contact-link" class="black link">Contact</a>
			</li>
		</ul>

	</nav>

	

	<!--<a href="/mobile-nav" class="dtc fr tr v-mid dn-ns w-15 mh4 p0-ns link dim dark-gray primary">
		<span class='db w2 mt1 mb2 bw2 pb2 bt bb b--dark-gray'></span>
		<span class='db w2 mt1 bw2 pb1 bt b--dark-gray'></span>
	  </a>-->

