<nav class="overflow-x-scroll overflow-x-visible-ns flex justify-between items-center center bg-white divider-grey relative">

	<!-- Logo -->
	<div class="pa3 db mr4 h-100 w10 flex-none raise">
		<a class="f4 b di lh-solid mb3 primary mw4 no-underline" href="/">ASAP Movers 808</a>
	</div>

	<!-- Primary Nav -->
	<ul class="flex b grey-3">
		<li><a href="/services" class="pa3 no-underline dn db-ns">Services</a></li>

		<li><a href="/about" class="pa3 no-underline dn db-ns">About</a></li>

		<li><a href="/contact" class="pa3 no-underline dn db-ns">Contact</a></li>
	</ul>

	<a href="/mobile-nav" class="dtc fr tr v-mid dn-ns w-15 mh4 p0-ns link dim dark-gray primary">
		<span class='db w2 mt1 mb2 bw2 pb2 bt bb b--dark-gray'></span>
		<span class='db w2 mt1 bw2 pb1 bt b--dark-gray'></span>
	  </a>
</nav>
