<section class="mb6 mw10 center">
    <h2 class="f1 tc fw5 lh-title mb5">{{ .review.heading }}</h2>

    <div class="flex-ns justify-around">
        <div class="pa3 w-30-l">
            <span class="yelp-review center" data-review-id="-m7kjYo_GuzZYFMX9Q8Veg" data-hostname="www.yelp.com">Read 
                    <a href="https://www.yelp.com/user_details?userid=bnUJIVTOB-ZPaa2BRRPEgw" rel="nofollow noopener">Paul L.</a>'s
                    <a href="https://www.yelp.com/biz/central-tucson-home-services-tucson?hrid=-m7kjYo_GuzZYFMX9Q8Veg" rel="nofollow noopener">review</a> of 
                    <a href="https://www.yelp.com/biz/j-OqIjhFaaeRddQWJ1HLDQ" rel="nofollow noopener">Central Tucson Home Services</a> on
                    <a href="https://www.yelp.com" rel="nofollow noopener">Yelp</a>
                    <script async="async" src="https://www.yelp.com/embed/widgets.js" type="text/javascript"></script>
            </span>
        </div>

        <div class="pa3 w-30-l">
            <span class="yelp-review" data-review-id="nmfehr6TlnnF2ipI0fyxLg" data-hostname="www.yelp.com">Read <a href="https://www.yelp.com/user_details?userid=fq0t_7yN-kiu3_plCFgMng" rel="nofollow noopener">Shenalyn M.</a>'s <a href="https://www.yelp.com/biz/central-tucson-home-services-tucson?hrid=nmfehr6TlnnF2ipI0fyxLg" rel="nofollow noopener">review</a> of <a href="https://www.yelp.com/biz/j-OqIjhFaaeRddQWJ1HLDQ" rel="nofollow noopener">Central Tucson Home Services</a> on <a href="https://www.yelp.com" rel="nofollow noopener">Yelp</a><script async="async" src="https://www.yelp.com/embed/widgets.js" type="text/javascript"></script></span>
        </div>   
    </div>

</section>